.main-wrapper-first {
    width: 68.75%;
    margin: 0 auto;
    margin-top: 6rem;
}

@media (min-width: 1200px) {
    .main-wrapper-first {
        width: 75%;
    }
}

@media (max-width: 1199px) {
    .main-wrapper-first {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .main-wrapper-first {
        margin-top: 3rem;
        width: 97%;
    }
}

.main-wrapper {
    width: 68.75%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .main-wrapper {
        width: 75%;
    }
}

@media (max-width: 1199px) {
    .main-wrapper {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        width: 97%;
    }
}